<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("UMinn LifeSpan 1B Intake Data")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ 2014..2015])
#set($disableValues = false)

<script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/LSP1Form.js')"></SCRIPT>
<link type="text/css" rel="stylesheet" href="/style/xdat.css">

<!--[if !IE]><!-->
<style type="text/css">
.red {
  color: red; 
}
.t10 {
  padding-top: 10px
}
.t25 {
  padding-top: 25px
}
.b10 {
  padding-bottom: 10px
}
.b25 {
  padding-bottom: 25px
}
.l10 {
  padding-left: 10px
}
.l25 {
  padding-left: 25px
}
.r10 {
  padding-right: 10px
}
.r25 {
  padding-right: 25px
}
.show8to9 {
  display: none
}
.show14to15 {
  display: none
}
.show25to75 {
  display: none
}
.showNotNA {
  display: none
}
.hide8to9 {
  display: none
}
.hide14to15 {
  display: none
}
.hide25to75 {
  display: none
}
.showMale {
  display: none
}
.showFemale {
  display: none
}
.hideMale {
  display: none
}
.hideFemale {
  display: none
}
.intakeForm {
  background-color: #E4F7E4 
}
.inclexclForm {
  background-color: #F7E4F4 
}
.showForm {
  position: inline
  left: 0em;
  margin-left: 25px;
}
.hideForm {
  position: absolute;
  left: -9999em;
}
li {
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}
h1 {
  font-size:14pt;
  line-height:28px;
}
h2 {
  font-size:13pt;
  line-height:26px;
}
h3 {
  font-size:12pt;
  line-height:24px;
}
h4 {
  font-size:12pt;
  line-height:24px;
}
h1,h2,h3,h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}
th.col1 {
  padding-left: 10px;
}
th.formHead {
  padding-top: 0px;
  padding-bottom: 0px;
}
hr.form {
  margin-top: 20px;
  margin-bottom: 20px;
}
th.form {
  padding-top: 0px;
  padding-bottom: 0px;
}
td,th {
  font-size:12px;
}
td.form {
  padding-left: 10px;
}
td.col1 {
  padding-left: 30px;
}
td.col2 {
  padding-left: 40px;
}
td.col3 {
  padding-left: 50px;
}
td.sep {
  padding-top: 5px; padding-bottom: 5px;
}
td.tbsep {
  padding-top: 10px; padding-bottom: 5px;
}
td.bbsep {
  padding-top: 5px; padding-bottom: 10px;
}
td.tsep {
  padding-top: 5px; 
}
td.bsep {
  padding-bottom: 5px;
}
td.indcol1 {
  padding-left: 45px;
}
td.indcol2 {
  padding-left: 20px;
}
td.center {
  text-align:center;
}
td.formCol {
  vertical-align: top;
  font-size:12px;
  line-height:16px;
}
td.fol1 {
  min-width:400px;
  width:400px;
}
td.fol2 {
  min-width:200px;
  width:200px;
  text-align:center;
}
td.fol3 {
  min-width:200px;
  width:200px;
  text-align:center;
}
</style>
<!--[if !IE]><!-->
<style type="text/css">
div.v_container_e {
  background-color: #AAAABB; 
  border-radius: 20px; -moz-border-radius: 20px; 
  display:none;
  padding: 20px; 
  position:fixed; left:0%; top:0%; 
  margin-left: 13%; margin-top:25%; 
  width: 70%; 
  height: 30%; 
  z-index:6001;
  visibility:hidden;
  text-align:center;
  display:block;
}
div.v_container {
  background-color: #AAAABB; 
  border-radius: 20px; -moz-border-radius: 20px; 
  display:none;
  padding: 20px; 
  position:fixed; left:0%; top:0%; 
  margin-left: 8%; margin-top:15%; 
  width: 80%; 
  height: 60%; 
  z-index:5001;
  visibility:hidden;
  text-align:center;
  // Workaround for Firefox ssue
  display:none;
}
div.v_content_e {
	background-color:#FFFFFF;
	height:88%;
	width:100%;
	overflow:auto;
}
div.v_content {
	background-color:#FFFFFF;
	height:94%;
	width:100%;
	overflow:auto;
}
div.pm {
	z-index:5000;
  POSITION: absolute;
  FILTER: alpha(opacity=60);
  BACKGROUND-COLOR: #000000;
  WIDTH: 100%;
  min-height: 8000px;
  height:100%;
  opacity: 0.6;
  top:0;
  left:0;
  display:none;
}
div.warning_bar { 
  width: 944px ; 
  height: 20px ; 
  position: relative ; 
  left: -15px ; 
  top: -2px ; 
  line-height: 20px ; 
  vertical-align: middle ; 
  font-size: 11px ; 
  background: #ffc ; 
  color: #666 ; 
  border: 1px solid #ee9 ; 
  border-left: none ; 
}
div.warning {
  position: relative;
  top: 20px;
}
</style>
<!--<![endif]-->
<!--[if IE]>
<style type="text/css">
div.v_container_e {
        background-color: #AAAABB;
        border-radius: 20px; -moz-border-radius: 20px;
        padding: 20px;
        position:absolute; left:100px; top:0px;
        margin-left: 0px; margin-top:0px;
        width: 900px;
        height: 450px;
        z-index:6001;
        visibility:hidden;
        text-align:center;
        display:inline;
}
div.v_container {
        background-color: #AAAABB;
        border-radius: 20px; -moz-border-radius: 20px;
        display:none;
        padding: 20px;
        position:absolute; left:100px; top:0px;
        margin-left: 0px; margin-top:0px;
        width: 900px;
        height: 400px;
        z-index:5001;
        visibility:hidden;
        text-align:center;
        // Workaround for Firefox ssue
        display:none;
}
div.v_content_e {
        background-color:#FFFFFF;
        height:350px;
        width:850px;
        overflow:auto;
}
div.v_content {
        background-color:#FFFFFF;
        height:350px;
        width:850px;
        overflow:auto;
}
div.pm {
        z-index:2000;
        POSITION: absolute;
        FILTER: alpha(opacity=60);
        BACKGROUND-COLOR: #000000;
        WIDTH: 100%;
        min-height: 8000px;
        height:100%;
        opacity: 0.6;
        top:0;
        left:0;
        visibility:hidden;
        display:none;
}
</style>
<![endif]-->
<style type="text/css">
div.v_close {
	height:auto;
	float:right;
	overflow:auto;
}
div.v_close_b {
  background-color:#FFFFFF;
  padding:4px 4px 4px 4px;
  margin-bottom:5px;
}
td.is {
	background-color:#FFFFDD;
}
td.vl {
	vertical-align:top;
}
td.ct {
	text-align:center;
}
td.nw {
	white-space:nowrap;
}
</style>
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
  <form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
    <!--[if !IE]><!-->
    <div style="width:100%;z-index:1000;background-color:#EEEEEE;position:fixed;top:0px;left:0px;padding-top:5px;height:60px;"> 
      <!--<![endif]-->
<!--[if IE]>
<div style="width:101%;z-index:1000;background-color:#EEEEEE;position:absolute;top:-50px;left:0px;padding-top:10px;height:40px;">
  <![endif]-->
  <div style="margin-left:20px;margin-top:25px;float:left">
    <b>DISPLAY:</b> &nbsp;<select onchange="formDisplay(this)">
    <option value="ALL" selected>All Forms</option>
    <option value="INTK">Intake Interview</option>
    <option value="INEX">Inclusion/Exclusion Form</option>
  </select>
  &nbsp; <input type="checkbox" value="1" onclick="toggleHeader(this)"/><b>Hide Header</b>
  &nbsp; <input name="DisplayAllBox" type="checkbox" value="1" onclick="toggleDisplayAll()"/><b>Display All Items</b>
</div>
<div style="margin-left:20px;margin-right:50px;float:right;">
  <a href="javascript:validateUMinnLS1BVisitData();showValidation();" onmouseover="return true;"><b>Validation Status: &nbsp;</b>#hcpValidationStatus("visit:UMinnLS1BVisitData/VisitValidation/OverallValidationStatus" $item "")</a>
</div>


<div class="warning" style="width:100%; visibility:hidden; padding-left:18px" id="rangeWarning">There are values outside of the normal range. Please see details.</div>


</div>
<div id="v_container_LSIntakeForm" class="v_container_e">
	<div class="v_close">
		<a href="javascript:updateFormValidation('LSIntakeForm');"><div class="v_close_b">X</div></a>
	</div>
	<div class="v_content_e">
    <table style="width:100%">
      <tr> <th colspan=6 style="text-align:center"> <h3>Intake Interview Validation</h3> </th> </tr>
    </table>
    <table>

      <tr> 
       <td class="nw vl">Override Validation Status</td>
       <td class="nw vl">
        #hcpSimpleSelectBox("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/OverrideStatus" $item [ [1,"VALID"] , [0,"NOT VALID"] , [-1,"VALUE NOT SET"] ] $vr)
      </td>
    </tr> 
    <tr>
     <td class="nw vl">Note</td>
     <td class="vl">
      #hcpTextArea("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/ValidationNotes" $item "" $vr 7 70)
    </td>
  </tr> 
  <tr>
   <td class="vl" colspan=2 style="text-align:center">
    <input type="button" onclick="javascript:updateFormValidation('LSIntakeForm')" value="Done"/>
  </td>
</tr> 
</table> 
</div>
</div>

<div id="v_container_LSInclExcl" class="v_container_e">
	<div class="v_close">
		<a href="javascript:updateFormValidation('LSInclExcl');"><div class="v_close_b">X</div></a>
	</div>
	<div class="v_content_e">
    <table style="width:100%">
      <tr> <th colspan=6 style="text-align:center"> <h3>Inclusion/Exclusion Interview Validation</h3> </th> </tr>
    </table>
    <table>

      <tr> 
       <td class="nw vl">Override Validation Status</td>
       <td class="nw vl">
        #hcpSimpleSelectBox("visit:UMinnLS1BVisitData/LSInclExcl/Validation/OverrideStatus" $item [ [1,"VALID"] , [0,"NOT VALID"] , [-1,"VALUE NOT SET"] ] $vr)
      </td>
    </tr> 
    <tr>
     <td class="nw vl">Note</td>
     <td class="vl">
      #hcpTextArea("visit:UMinnLS1BVisitData/LSInclExcl/Validation/ValidationNotes" $item "" $vr 7 70)
    </td>
  </tr> 
  <tr>
   <td class="vl" colspan=2 style="text-align:center">
    <input type="button" onclick="javascript:updateFormValidation('LSInclExcl')" value="Done"/>
  </td>
</tr> 
</table> 
</div>
</div>

<div id="v_container" class="v_container">
  <div class="v_close">
    <a href="javascript:hideFormValidationContainers();hideValidation();"><div class="v_close_b">X</div></a>
  </div>
  <div class="v_content">
    <table style="width:100%">
      <tr> <th colspan=6 style="text-align:center"> <h3>LifeSpan Phase1a Visit Data Validation</h3> </th> </tr>
    </table>
    <table>

      <tr> <td style="text-align:center;font-weight:bold;"> FORM </td> <td style="text-align:center;font-weight:bold;"> Automated<br/>Validation<br/>Status </td> <td style="text-align:center;font-weight:bold;"> Manual<br/>Validation<br/>Override </td> <td style="text-align:center;font-weight:bold"> NOTES </td> <td> </td> </tr>

      <tr> <td class="nw vl"><a href="javascript:editFormValidation('LSIntakeForm')">Intake Interview</a></td>
       <td class="nw vl ct"> 
        <a href="javascript:editFormValidation('LSIntakeForm')">#hcpValidationStatus("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/AutoStatus" $item "")</a>
      </td>
      <td class="nw vl ct">
        <a href="javascript:editFormValidation('LSIntakeForm')">#hcpValidationImageAllowNull("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/OverrideStatus" $item "")</a>
        #xdatHiddenBox("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/OverrideUser" $item "")
        #xdatHiddenBox("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/OverrideDT" $item "")
      </td>
      <td class="vl">
        #hcpTextSpan("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/ValidationNotes" $item "")
      </td>
    </tr> 
    #hcpAutoValidationList("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/AutoList" $item "" $vr 4)

<tr> <td class="nw vl"><a href="javascript:editFormValidation('LSInclExcl')">Inclusion/Exclusion Interview</a></td>
 <td class="nw vl ct"> 
  <a href="javascript:editFormValidation('LSInclExcl')">#hcpValidationStatus("visit:UMinnLS1BVisitData/LSInclExcl/Validation/AutoStatus" $item "")</a>
</td>
<td class="nw vl ct">
  <a href="javascript:editFormValidation('LSInclExcl')">#hcpValidationImageAllowNull("visit:UMinnLS1BVisitData/LSInclExcl/Validation/OverrideStatus" $item "")</a>
  #xdatHiddenBox("visit:UMinnLS1BVisitData/LSInclExcl/Validation/OverrideUser" $item "")
  #xdatHiddenBox("visit:UMinnLS1BVisitData/LSInclExcl/Validation/OverrideDT" $item "")
</td>
<td class="vl">
  #hcpTextSpan("visit:UMinnLS1BVisitData/LSInclExcl/Validation/ValidationNotes" $item "")
</td>
</tr> 
#hcpAutoValidationList("visit:UMinnLS1BVisitData/LSInclExcl/Validation/AutoList" $item "" $vr 4)

</table>
</div>
</div>


<input type="hidden" name="project" value="$!{project}" >
#if($vr)
<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
  #end

  <!-- EDIT FORM HEADER -->
  <div id="FormHeader" class="showForm">
    <!--  <div style="width:100%; visibility:hidden">There are values outside of the normal range. Please see details below.</div> -->
    <TABLE>
      <TR>
        <TD align="left" valign="middle" colspan='2'>
          <DIV class="edit_title"><h2>LifeSpan Phase1 Visit Details</h2></DIV>
        </TD>
      </TR>
      <TR>
        <TD colspan='2'>
          #parse("/screens/xnat_edit_subjectAssessorData.vm")
        </TD>
      </TR>
      <TR>
        <TD><b>Date of Visit:</b> &nbsp;</TD> 
        <TD>
			#hcpDateBox("visit:UMinnLS1BVisitData/date" $item $vr $years)
        </TD>
      </TR>
    </TABLE>
  </div>
   

    <!-- END EDIT FORM HEADER -->



<div id="IntakeForm" class="showForm intakeForm">

	<TABLE width="800px">
   <TR>
    <hr class="form">
  </TR>
  <TR>
    <TH colspan=1 align="left" class="form"><h2>LifeSpan Intake Interview<h2></TH>
  </TR>
  <TR>
   <TD class="formCol" style="text-align:left">AGE: &nbsp;#hcpSimpleSelectBoxWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Age" $item [8,9,14,15,25,26,27,28,29,30,31,32,33,34,35,45,46,47,48,49,50,51,52,53,54,55,65,66,67,68,69,70,71,72,73,74,75 ] $vr "ageDisplayMod(this)") &nbsp; &nbsp;Gender:  #hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Gender" $item [["M","Male"],["F","Female"]] $vr "genderDisplayMod(this)") &nbsp;</TD>

 </TR>
 <TR>
   <TD class="formCol sep" style="text-align:left"><span>Height: &nbsp;</span>
     #set($Q = '"')
     ## HEIGHT-SPECIFIC MACRO FOR 1.6 UPGRADE TO HANDLE CHANGE IN QUOTE HANDLING
     #macro (hcpHeightSelectBox $name $item $possibleValues $vr)
     #if ($vr)
     #if($vr.getField($name))
     <font color="red">&#8658</font>
     #end
     #end
     #if($item.isPKField($name) && (!$vr.getField($name)))
     <input ID="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
     $item.getProperty($name)
     #else
     #if ($possibleValues.size()==0)
     <input ID="$name" type="text" name="$name" #hcpDisable() value="$item.getProperty($name)"/>
     #else
     <SELECT ID="$name" name="$name" #hcpDisable() >
      <OPTION VALUE="">(SELECT)</OPTION>
      #foreach ($pValue in $possibleValues) 
      #if ( $pValue.getClass().getName().indexOf("List")>=0 && $pValue.size()>1 )
      ## HEIGHT SPECIFIC IF STATEMENT TO IGNORE NON-NUMERIC VALUES
      <OPTION VALUE="$pValue.get(0)" #if($pValue.get(0).equals($item.getProperty($name)) || $pValue.get(0).replaceAll('[^0-9]','').equals($item.getProperty($name).replaceAll('[^0-9]',''))) SELECTED #end>$pValue.get(1)</OPTION>
      #else
      ## HEIGHT SPECIFIC IF STATEMENT TO IGNORE NON-NUMERIC VALUES
      <OPTION VALUE="$pValue"  #if($pValue.get(0).equals($item.getProperty($name)) || $pValue.get(0).replaceAll('[^0-9]','').equals($item.getProperty($name).replaceAll('[^0-9]',''))) SELECTED #end >$pValue</OPTION>
      #end
      #end
    </SELECT>
    #end
    #end
    #end
    #hcpHeightSelectBox("visit:UMinnLS1BVisitData/LSIntakeForm/Height" $item [ ["3'0","3'0${Q}"], ["3'1","3'1${Q}"], ["3'2","3'2${Q}"], ["3'3","3'3${Q}"], ["3'4","3'4${Q}"], ["3'5","3'5${Q}"], ["3'6","3'6${Q}"], ["3'7","3'7${Q}"], ["3'8","3'8${Q}"], ["3'9","3'9${Q}"], ["3'10","3'10${Q}"], ["3'11","3'11${Q}"], ["4'0","4'0${Q}"], ["4'1","4'1${Q}"], ["4'2","4'2${Q}"], ["4'3","4'3${Q}"], ["4'4","4'4${Q}"], ["4'5","4'5${Q}"], ["4'6","4'6${Q}"], ["4'7","4'7${Q}"], ["4'8","4'8${Q}"], ["4'9","4'9${Q}"], ["4'10","4'10${Q}"], ["4'11","4'11${Q}"], ["5'0","5'0${Q}"], ["5'1","5'1${Q}"], ["5'2","5'2${Q}"], ["5'3","5'3${Q}"], ["5'4","5'4${Q}"], ["5'5","5'5${Q}"], ["5'6","5'6${Q}"], ["5'7","5'7${Q}"], ["5'8","5'8${Q}"], ["5'9","5'9${Q}"], ["5'10","5'10${Q}"], ["5'11","5'11${Q}"], ["6'0","6'0${Q}"], ["6'1","6'1${Q}"], ["6'2","6'2${Q}"], ["6'3","6'3${Q}"], ["6'4","6'4${Q}"], ["6'5","6'5${Q}"], ["6'6","6'6${Q}"], ["6'7","6'7${Q}"], ["6'8","6'8${Q}"], ["6'9","6'9${Q}"], ["6'10","6'10${Q}"], ["6'11","6'11${Q}"] ] $vr) <span>&nbsp; &nbsp;Weight:  </span>#hcpStringBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/Weight" $item "" $vr 4) <span>lbs</span> 
  </TD>
</TR>
<TR class="show25to75">
 <TD class="formCol sep" style="text-align:left"><span><b>MMSE Score:</b></span> &nbsp;#hcpStringBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/MMSE_Score" $item "" $vr 3)</TD>
</TR>
</TABLE>
<div class="showFemale">
<TABLE width="800px">
<TR class="show14to15">
 <TD class="formCol sep" style="text-align:left"><span><b>Pregnancy Test Result:</b></span> &nbsp;
                               #hcpSimpleSelectBox("visit:UMinnLS1BVisitData/LSIntakeForm/Preg_Result" $item [ [1,"Positive"], [0,"Negative"], [9,"N/A"] ] $vr) 
</TD>
</TR>
</TABLE>
</div>
<TABLE width="800px">

<!-- ***** -->


                           <TR>
                             <TD class="formCol sep" style="text-align:left"><b>Handedness Assessment:</b></TD>

                           </TR>
                           <TR>
                             <TD class="formCol sep" style="text-align:left">I am going to ask you to show me how you would do some things.</TD>
                           </TR>
                           <TR>
                             <TD class="formCol sep" style="text-align:left">You will have to make believe you are doing some of these things and show me how you would do it.</TD>
                           </TR>
                           <TR>
                             <TD class="formCol col1" style="text-align:left">
                                <table style="padding-right:10px;padding-left:10px;">
                                 <tr><td class="formCol"><span><b>Write</b> your name on this sheet of paper</span></td><td>#hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Writing" $item [ [1,"Right"], [0,"Left"] ] $vr "computeHandednessScore()")</td></tr>
                                 <tr><td class="formCol"><span>Use one hand to show me how to use a <b>hammer</b></span></td><td>#hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Hammer" $item [ [1,"Right"], [0,"Left"] ] $vr "computeHandednessScore()")</td></tr>
                                 <tr><td class="formCol"><span>Use one hand to show me how to <b>throw a ball</b></span></td><td>#hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Throw" $item [ [1,"Right"], [0,"Left"] ] $vr "computeHandednessScore()")</td></tr>
                                 <tr><td class="formCol"><span>Show me how to use a <b>toothbrush</b></span></td><td>#hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Toothbrush" $item [ [1,"Right"], [0,"Left"] ] $vr "computeHandednessScore()")</td></tr>
                                 <tr><td class="formCol"><span><b>Point</b> to my nose</span></td><td>#hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Point" $item [ [1,"Right"], [0,"Left"] ] $vr "computeHandednessScore()")</td></tr>
                                 <tr><td class="formCol"><span>Show me how to <b>eat with a spoon</b></span></td><td>#hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Spoon" $item [ [1,"Right"], [0,"Left"] ] $vr "computeHandednessScore()")</td></tr>
                                 <tr><td class="formCol"><span>Show me how you <b>cut with scissors</b></span></td><td>#hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Scissors" $item [ [1,"Right"], [0,"Left"] ] $vr "computeHandednessScore()")</td></tr>
                                 <tr><td class="formCol"><span>Show me how to <b>drink from a cup</b></span></td><td>#hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Drink" $item [ [1,"Right"], [0,"Left"] ] $vr "computeHandednessScore()")</td></tr>
                                </table>
                             </TD>
                           </TR>
                            <TR>
                                <TD colspan=2 class="formCol sep" style="text-align:left;padding-top:20px;padding-left:20px;border-style:solid;border-width:1px;background-color:#FFFFDD;text-align:left">
                                    <b>HANDEDNESS SCORE:</b> &nbsp;#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Score" $item "" $vr 4)  <span style="padding-left:10px"><b>HANDEDNESS DETERMINATION:</b></span> 
					#hcpRadioButtonGroup("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_RightHanded" $item [ [1,"Right Handed"], [0,"Not Right Handed"] ] $vr)  
                                </TD>
                            </TR>
                         </TABLE>


                         <div id="IntakeForm_Menstrual" class="showForm" style="margin-left:0px">
                           <div class="show14to15 show25to75">
                          <TABLE width="800px">
                            <TR>
                             <TD class="formCol sep" style="text-align:left"><b>Menstrual Cycle (if female):</b><span class="show14to15" style="padding-left:20"><b>Check to SKIP SECTION if not yet menstruating:</b> #hcpBooleanCheckboxWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_NA" $item $vr "menstNaDisplayMod(this)")</TD>

</span></TD>

                           </TR>
                          </TABLE>
                           <div class="showNotNA">
                          <TABLE width="800px">
                           <TR>
                             <TD class="formCol sep" style="text-align:left">1. &nbsp;Do you have regular menstrual cycles?  &nbsp;#hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_Reg" $item [ [1,"Yes"] , [2,"No"] ] $vr "menstRegDisplay(this)")</TD>
                           </TR>
                           <TR>
                             <TD class="formCol sep indcol2" style="text-align:left">IF NO, Explain:  &nbsp;#hcpTextArea("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_RegExplain" $item "" $vr 3 70)</TD>
                           </TR>
                           <TR>
                             <TD class="formCol sep indcol2" style="text-align:left">2. &nbsp;At what age did your menstrual cycle begin? &nbsp;#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_AgeBegin" $item "" $vr 4)</TD>
                           </TR>
                           <TR>
                             <TD class="formCol sep indcol2" style="text-align:left">3. &nbsp;About how long is your entire cycle? &nbsp;(i.e. how long between start dates)</TD>
                           </TR>
                           <TR>
                             <TD class="formCol col1 indcol1" style="text-align:left">#hcpRadioButtonGroupNewline("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_Length" $item [ [1,"Less than 25 days"] , [2,"Between 25-35 days"] , [3,"More than every 35 days"] ] $vr) &nbsp;</TD>

                           </TR>
                           <TR>
                             <TD class="formCol sep indcol2" style="text-align:left">4. &nbsp;When was your Last Menstrual Period: &nbsp;
                               #hcpSimpleSelectBox("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_LastMon" $item [ [1,"Jan"], [2,"Feb"], [3,"Mar"], [4,"Apr"], [5,"May"], [6,"Jun"], [7,"Jul"], [8,"Aug"], [9,"Sep"], [10,"Oct"], [11,"Nov"], [12,"Dec"] ] $vr) 
                               #hcpSimpleSelectBox("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_LastDay" $item [1..31] $vr) 
                               #hcpSimpleSelectBox("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_LastYear" $item [1950..2015] $vr) 
                             </TD>
                           </TR>
                           <TR class="show25to75">
                             <TD class="formCol sep" style="text-align:left">5. &nbsp;If the woman is not cycling regularly:</TD>
                           </TR>
                           <TR class="show25to75">
                             <TD class="formCol sep indcol2" style="text-align:left">At what age did your cycles become irregular? &nbsp;#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_AgeIrreg" $item "" $vr 4)</TD>
                           </TR>
                           <TR class="show25to75">
                             <TD class="formCol sep indcol2" style="text-align:left">If they ended: &nbsp;at what age did they stop? &nbsp;#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_AgeStop" $item "" $vr 4)</TD>
                           </TR>
                           <TR>
                             <TD class="formCol sep" style="text-align:left"><span class="show25to75">6.</span><span class="hide25to75">5.</span> &nbsp;Are you using birth control pills, progesterone, or fertility drugs?  &nbsp;#hcpRadioButtonGroupWithEvent("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_BCFert" $item [ [0,"No"] , [1,"Yes"] ] $vr "menstBCFDisplay(this)")</TD>
                           </TR>
                           <TR>
                             <TD class="formCol sep indcol2" style="text-align:left">If yes, name of medication being taken: &nbsp;#hcpTextArea("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_BCFertName" $item "" $vr 3 70)</TD>
                           </TR>
                         </TABLE>
                           </div> <!-- class="showNotNA" -->
                           </div> <!-- class="show14to15 show25to75" -->
                       </div> <!-- Menst -->
                           <div class="show8to9 show14to15">
                         <TABLE>
                           <TR>
                             <TD class="formCol sep" style="text-align:left">6. &nbsp;Have you been diagnosed and/or treated for any behavioral psychiatric problem?  &nbsp;#hcpRadioButtonGroup("visit:UMinnLS1BVisitData/LSIntakeForm/Behav_Diag" $item [ [0,"No"] , [1,"Yes"] ] $vr)</TD>
                           </TR>
                         </TABLE>
                           </div> <!-- class="show8to9 show14to15" -->
                           <div class="show25to75">
                         <TABLE>
                           <TR>
                             	<TD class="formCol" style="padding-top:15px;padding-bottom:15px"><span><b>List of current medications:</b></span></TD>
                              #if (!$disableValues)
                                <TD>
                                        <input name="medButton" type="button" ONCLICK="addMedications();" value="Add Medications"/>
                                        <input name="hideMedButton" type="button" ONCLICK="hideMedicationRows();" value="Hide Unused Medication Fields" style="display:none"/>
                                </TD>
                              #end
                           </TR>
                         </TABLE>
                           </div> <!-- class="show25to75" -->
                         <TABLE>
                           <TR name="MedRowHeader">
                             	<TD class="formCol indcol2" style="text-align:center"> <b>Medication</b> </TD>
				                <TD style="text-align:center"> <b>Taken For</b> </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed1" $item "" $vr 20) </TD> 
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed1_TakenFor" $item "" $vr 20)</TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed2" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed2_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed3" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed3_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed4" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed4_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed5" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed5_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed6" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed6_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed7" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed7_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed8" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed8_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed9" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed9_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed10" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed10_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed11" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed11_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed12" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed12_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed13" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed13_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           <TR name="MedRow">
                             	<TD class="formCol indcol2" style="text-align:left">#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed14" $item "" $vr 20) </TD>
				                <TD>#hcpTextBoxWSize("visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed14_TakenFor" $item "" $vr 20) </TD>
                           </TR>
                           </div>
                         </TABLE>


</div> <!-- End Intake Form -->

<div id="InclExclForm" class="showForm inclexclForm">
         <TABLE style="max-width:800px">
             <TR>
              <hr class="form">
            </TR>
            <TR>
              <TH colspan=2 align="left" class="form"><h2>Inclusion/Exclusion Criteria -- LifeSpan Phase1a<h2></TH>
            </TR>
            <TR>
             <TH class="formHead col1" align="left" colspan=2><h3>Inclusion Criteria:</h3></TH>
           </TR>
         </TABLE>
         <TABLE style="max-width:800px">
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Incl_Age" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Age <span class="show8to9">8-9</span> <span class="show14to15"> 14-15</span> <span class="show25to75">25-35, 45-55 or 65-75</span>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Incl_Consent" $item $vr)</TD>
             <TD class="formCol" style="text-align:left"><span class="show8to9">Has assented to participate</span><span class="show14to15">Has consented/assented to participate</span><span class="show25to75">Ability to give valid informed consent</span></TD>
           </TR>
         </TABLE>
         <TABLE style="max-width:800px">
           <TR>
             <TH class="formHead col1" align="left" colspan=2><h3>Exclusion Criteria:</h3></TH>
           </TR>
           <TR>
             <TH class="formHead col1" align="left" colspan=2><b> 1) During the participant's life</b></TH>
           </TR>
         </TABLE>
         <TABLE style="max-width:800px">
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_HospPSNC" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Hospitalization for two days or longer for psychiatric disorder, substance abuse, neurological, or cardiovascular disease</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_ADHD" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">ADD or ADHD</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Seizure" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">History of seizure disorder or diagnosis of epilepsy</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Genetic" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Any genetic disorder, such as cystic fibrosis or sickle cell disease</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_MSCP" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Multiple sclerosis or cerebral palsy</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Tumor" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Brain tumor</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Cancer" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Any cancer treated with chemotherapy and/or radiation or untreated cancer diagnosis</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_HospSAHH" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Hospitalization for stroke, brain aneurysm, brain hemorrhage or subdural hematoma <span class="show25to75"> (<b>EXCEPTION:  </b>Do not exclude for transient ischemic attack (TIA))</span></TD>
           </TR>
         </TABLE>
         <div class="show8to9 show14to15">
         <TABLE style="max-width:800px">
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Diabetes_0815" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Diabetes</TD>
           </TR>
         </TABLE>
         </div>
         <TABLE style="max-width:800px">
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Premat" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Premature Birth (for twins, before 34 weeks; for non-twins before 37 weeks.  If unknown, less than 5 lbs at birth)</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Head" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Any of the following head injuries:</TD>
           </TR>
           <TR>
             <TD class="formCol col1"></TD>
             <TD class="formCol indcol2" style="text-align:left">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Loc30" $item $vr) &nbsp; Loss of consciousness for >30 minutes or </TD>
           </TR>
           <TR>
             <TD class="formCol col1"></TD>
             <TD class="formCol indcol2" style="text-align:left">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Amn24" $item $vr) &nbsp; Amnesia for >24 hours </TD>
           </TR>
           <TR>
             <TD class="formCol col1"></TD>
             <TD class="formCol indcol2" style="text-align:left">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Ment24" $item $vr) &nbsp; Change in Mental Status >24 hours</TD>
           </TR>
           <TR>
             <TD class="formCol col1"></TD>
             <TD class="formCol indcol2" style="text-align:left">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_TBI" $item $vr) &nbsp; Neuroimaging findings consistent with traumatic brain injury </TD>
           </TR>
           <TR>
             <TD class="formCol col1"></TD>
             <TD class="formCol indcol2" style="text-align:left"> #hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_3Conc" $item $vr) &nbsp; Persistent (>3 months) post-concusssive symptoms following concussion or mild TBI</TD>
           </TR>
         </TABLE>
         <div class="show25to75">
         <TABLE style="max-width:800px">
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Steroids_2575" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Diagnosis of and/or treatment for rheumatoid arthritis, HIV or lupus (systemic lupus erythmatosis or SLE) or another condition requiriting long-term use of steroids</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_MacularD_2575" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Diagnosis of macular degeneration</TD>
           </TR>
         </TABLE>
         </div>
         <TABLE style="max-width:800px">
           <TR>
             <TH class="formHead col1" align="left" colspan=2><b> 2) Within the last 5 years:</b></TH>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Trtmt" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Pharmacologic or behavioral treatment by a psychiatrist, neurologist, or endocrinologist for a period of 12 months 
								or longer <span class="show25to75"> (<b>EXCEPTION:</b>  Do not exclude for back pain or other condition that is clearly not brain-related)</span></TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Dialysis" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Dialysis</TD>
           </TR>
           <TR>
             <TH class="formHead col1" align="left" colspan=2><b> 3) Within the last 1 year:</b></TH>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Thyroid" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Diagnosis of thyroid problems and/or changing doses of thyroid medication</TD>
           </TR>
           <TR>
             <TH class="formHead col1" align="left" colspan=2><b> 4) Current:</b></TH>
           </TR>
         </TABLE>
         <div class="show25to75">
         <TABLE style="max-width:800px">
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Diabetes_2575" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Diabetes that has been diagnosed within the past 3 months (<b> EXCEPTION: </b>diabetes is OK if it is stably controlled (subject report or A1c&lt;7.0))</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_HearingLoss_2575" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Hearing loss sufficient to prevent communication via telephone</TD>
           </TR>
         </TABLE>
         </div>
         <TABLE style="max-width:800px">
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Preg" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Pregnancy</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Metal" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Unsafe metal or devices in the body (e.g. cardiac pacemaker)</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Phobia" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Moderate to Severe Claustrophobia</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_MigraineMeds" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Use of medication to prevent migraines (<b>EXCEPTION:</b> migraines allowed if not taking daily medications)</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_RecMigraine" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Migraine less than 72 hours before the first visit or during the visit</TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_BP" $item $vr)</TD>
             <TD class="formCol" style="text-align:left"><span class="show25to75">Uncontrolled </span>High Blood Pressure </TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_ImmuneMeds" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Treatment with glucocorticoids such as cortisone, drugs to prevent rejection of an organ transplant, or any other drug meant to affect the immune system
            </TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_HeadSize" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Head circumference &gt;23.75 inches
            </TD>
           </TR>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_ImmuneMeds" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">Weight &gt;275 lbs. </TD>
           </TR>
         </TABLE>
        <div class="show25to75">
         <TABLE>
           <TR>
             <TD class="formCol col1">#hcpBooleanCheckbox("visit:UMinnLS1BVisitData/LSInclExcl/Excl_MMSE_2575" $item $vr)</TD>
             <TD class="formCol" style="text-align:left">MMSE score of 25 or below on the first visit</TD>
           </TR>
         </TABLE>
        </div>

</div> <!-- End InclExcl Form -->


   #if (!$disableValues)

<div class="showForm">
    <TABLE>
     <TR>
      <hr class="form">
    </TR>
    <TR>
      <TH colspan=3 align="left" class="form"><h2>SUBMIT FORM DATA (All Forms)<h2></TH>
    </TR>
    <TR>
      <TD>
        #xdatEditProps($item $edit_screen)
        <TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit All"/></TD></TR>
      </TD>
    </TR>
  </TABLE>
</div>

#end


</form>

<script type="text/javascript">

function hideFormValidationImages() {
	var qarr = [ "LSIntakeForm","LSInclExcl" ];
	for (var i=0;i<qarr.length;i++) {
		document.getElementById("visit:UMinnLS1BVisitData/" + qarr[i] + "/Validation/AutoStatus_img").style.display="none";
		document.getElementById("visit:UMinnLS1BVisitData/" + qarr[i] + "/Validation/OverrideStatus_img").style.display="none";
	}
}

function showFormValidationImages() {
	var qarr = [ "LSIntakeForm","LSInclExcl" ];
	for (var i=0;i<qarr.length;i++) {
		document.getElementById("visit:UMinnLS1BVisitData/" + qarr[i] + "/Validation/AutoStatus_img").style.display="inline";
		document.getElementById("visit:UMinnLS1BVisitData/" + qarr[i] + "/Validation/OverrideStatus_img").style.display="inline";
	}
}

function hideFormValidationContainers() {
	var qarr = [ "LSIntakeForm","LSInclExcl" ];
	for (var i=0;i<qarr.length;i++) {
		document.getElementById("v_container_" + qarr[i]).style.visibility="hidden";
	}
}

function editFormValidation(frm) {
	hideFormValidationContainers();
	document.getElementById("v_container_" + frm).style.visibility="visible";
}

function updateFormValidation(frm) {
	document.getElementById("v_container_" + frm).style.visibility="hidden";
	document.getElementById("visit:UMinnLS1BVisitData/" + frm + "/Validation/ValidationNotes_span").innerHTML=document.getElementById("visit:UMinnLS1BVisitData/" + frm + "/Validation/ValidationNotes").value;
	var ostatus = document.getElementById("visit:UMinnLS1BVisitData/" + frm + "/Validation/OverrideStatus").value;
	var vimage = document.getElementById("visit:UMinnLS1BVisitData/" + frm + "/Validation/OverrideStatus_img");
	if (ostatus == "1") {
		vimage.style.visibility="visible";
		vimage.src = vimage.src.replace("cr.gif","cg.gif");
	} else if (ostatus == "0") {
		vimage.style.visibility="visible";
		vimage.src = vimage.src.replace("cg.gif","cr.gif");
	} else {
		vimage.style.visibility="hidden";
	}
	updateOverallValidation();
}

function updateValidationList(ID,val) {
	if (val == undefined || val == null) {
		return;
	}
	if (val.length>0) {
		document.getElementById(ID).value=val.toString();
		var newHTML = "<ul>"; 
		for(var i=0;i<val.length;i++) {
			newHTML = newHTML + "<li>" + val[i] + "</li>"; 
		}
		newHTML = newHTML + "</ul>"; 
		document.getElementById(ID + "_span").innerHTML=newHTML;
		document.getElementById(ID + "_td").style.display="inline";
	} else {
		document.getElementById(ID).value=" ";
		document.getElementById(ID + "_span").innerHTML=" ";
		document.getElementById(ID + "_td").style.display="none";
	}
}

function updateOverallValidation() {
	setOverallValidation(computeOverallValidation());
}

function setOverallValidation(status) {

	if (status) {
    document.getElementById("visit:UMinnLS1BVisitData/VisitValidation/OverallValidationStatus").value="1";
    var vimage = document.getElementById("visit:UMinnLS1BVisitData/VisitValidation/OverallValidationStatus_img");
    vimage.src = vimage.src.replace("cr.gif","cg.gif");
  } else {
    document.getElementById("visit:UMinnLS1BVisitData/VisitValidation/OverallValidationStatus").value="0";
    var vimage = document.getElementById("visit:UMinnLS1BVisitData/VisitValidation/OverallValidationStatus_img");
    vimage.src = vimage.src.replace("cg.gif","cr.gif");
  }

}

function computeOverallValidation() {

	var qarr = [ "LSIntakeForm","LSInclExcl" ];
	for (var i=0;i<qarr.length;i++) {
		if (document.getElementById("visit:UMinnLS1BVisitData/" + qarr[i] + "/Validation/OverrideStatus").value=="0" || 
     (document.getElementById("visit:UMinnLS1BVisitData/" + qarr[i] + "/Validation/OverrideStatus").value!="1" && 
      document.getElementById("visit:UMinnLS1BVisitData/" + qarr[i] + "/Validation/AutoStatus").value!="1")) {
			return false;
  }
}
return true;
}

function updateAllValidation() {
    validateUMinnLS1BVisitData();
	var qarr = [ "LSIntakeForm","LSInclExcl" ];
	for (var i=0;i<qarr.length;i++) {
		updateFormValidation(qarr[i]);
    }
    updateOverallValidation();
}

var isVisitFormSaved=false;

function validateForm() {
    //INSERT CUSTOM CONTENT HERE
    if (!validateUMinnLS1BVisitData()) {
        if (confirm("The form has not passed validation. Save anyway?")) {
            isVisitFormSaved=true;
            // Display so all values are transferred with form
            ageDisplayShowAll();
            genderDisplayShowAll();
            var rc = validateSubjectAssessorForm();
            if (!(rc == undefined || rc)) {
                isVisitFormSaved=false;
            }
        } else {
            showValidation();
        }
    } else {
    	isVisitFormSaved=true;
        // Display so all values are transferred with form
        ageDisplayShowAll();
        genderDisplayShowAll();
        var rc = validateSubjectAssessorForm();
        if (!(rc == undefined || rc)) {
            isVisitFormSaved=false;
        } 
    }
    return false;
}

//////////////////////////////
// MAIN VALIDATION FUNCTION //
//////////////////////////////
function validateUMinnLS1BVisitData() {
	validateIntake();
	validateInclExcl();
	var overallStatus = computeOverallValidation();
	setOverallValidation(overallStatus);
	return overallStatus;
}

////////////////////////////
// INTAKE FORM VALIDATION //
////////////////////////////
function validateIntake() {
	// Reset validation field
	var val_intake = [];
	// 
	// 1)  Check for missing data
	// 
	//     -- DATE
    if (!isValidDateValue(getDate(document.getElementsByName("visit:UMinnLS1BVisitData/date.month")[0].parentNode))) {
		val_intake.push("ERROR:  Visit date is missing or invalid");
    }
	//     -- AGE
	var ii_age = toFloat(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Age").value);
	if (isNaN(ii_age) && !((ii_age>=4 && ii_age<=6) || (ii_age>=8 && ii_age<=9) || (ii_age>=14 && ii_age<=15) || (ii_age>=25 && ii_age<=35) || (ii_age>=45 && ii_age<=55) || (ii_age>=65 && ii_age<=75))) {
		val_intake.push("ERROR:  Missing/invalid value for AGE");
	}
	//     -- GENDER
	if (!getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Gender"))) {
		val_intake.push("ERROR:  Missing value for GENDER");
	}
	//     -- HEIGHT
	if (!document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Height").value) {
		val_intake.push("ERROR:  Missing value for HEIGHT");
	}
	//     -- WEIGHT
	var ii_weight = toInteger(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Weight").value);
    if (!isNaN(ii_age) && ii_age>=14) {
	    if (isNaN(ii_weight) || ii_weight<70 || ii_weight>500) { 
	    	val_intake.push("ERROR:  Missing/improbable value for WEIGHT");
	    }
    } else if (!isNaN(ii_age) && ii_age<14) {
	    if (isNaN(ii_weight) || ii_weight<40 || ii_weight>200) { 
	    	val_intake.push("ERROR:  Missing/improbable value for WEIGHT");
	    }
    }
	var ii_age = toFloat(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Age").value);
	var ii_pregresult = parseInt(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Preg_Result").value);
	if (!isNaN(ii_age) && (ii_age>=14 && ii_age<=15) && getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Gender"))=="F") {
		if (isNaN(ii_pregresult) || ii_pregresult<0 || ii_pregresult>1) {
			val_intake.push("ERROR:  Missing/Invalid value for pregnancy test result");
		}
	}
	if (!isNaN(ii_age) && ii_age<=15 && !getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Behav_Diag"))) {
		if (isNaN(ii_pregresult) || ii_pregresult<0 || ii_pregresult>1) {
			val_intake.push("ERROR:  Missing value for BEHAV_DIAG");
		}
	}
   	// 
   	// 3)  Verify that all handedness questions have been answered.
   	// 
   	if (isNaN(parseInt(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Score").value))) {
        val_intake.push("ERROR:  Missing one or more handedness measures for the HANDEDNESS ASSESSMENT.");
    }
    if (!isNaN(ii_age) && ii_age>=14) {
       	// 
       	// 4)  Verify that subjects recorded as MALE do not have Menstrual questions answered affirmatively
       	//     (Will allow radio buttons to have negative values, since they cannot be cleared once checked)
       	// 
       	if (getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Gender"))=="M" &&
       		(
             getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_Reg").value)==1 || 
             isInteger(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_AgeBegin").value) ||
             isInteger(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_LastMon").value) ||
             isInteger(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_LastYear").value) 
             )) { 
       		val_intake.push("ERROR:  Subject recorded as MALE but has affirmative answers about menstruation");
        }
    }
    if (!isNaN(ii_age) && ii_age>=14 && getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Gender"))=="F" && !(parseInt(getCheckboxValue01(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_NA")))==1)) {
    	// 
    	// 5)  Verify menstrual form completeness and integrity for females
    	// 
        if (!isInteger(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_Reg")))) {
         val_intake.push("ERROR:  Menstrual Cycle - Regular menstrual cycles - missing response.");
        } else if (getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_Reg"))!=1 && !document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_RegExplain").value) { 
         val_intake.push("ERROR:  Menstrual Cycle - Regular menstrual cycles - missing EXPLAIN value.");
        }
        if (getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_Reg"))!=1 && !isInteger(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_AgeIrreg").value)) { 
    		if (!isNaN(ii_age) && ii_age>=25) {
                val_intake.push("ERROR:  Menstrual Cycle - Regular menstrual cycles - Irregular cycles indicated, but no onset age given (Q5)");
		    }
        } else if (getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_Reg"))==1 && isInteger(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_AgeIrreg").value)) { 
        	 val_intake.push("ERROR:  Menstrual Cycle - Regular menstrual cycles - Irregular cycle onset indicated (Q5), but cycles indicated as regular (Q1)");
        } 
        if (!isInteger(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_AgeBegin").value)) {
         val_intake.push("ERROR:  Menstrual Cycle - Age began menstrual cycles - missing response.");
        }
        if (!isInteger(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_Length")))) {
         val_intake.push("ERROR:  Menstrual Cycle - Menstrual cycle length - missing response.");
        }
        if (!(
    			// NOTE:  Allowing partial response here
    			isInteger(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_LastMon").value) ||
    			isInteger(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_LastDay").value) ||
    			isInteger(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_LastYear").value) 
         )) {
         val_intake.push("ERROR:  Menstrual Cycle - Last menstrual period - missing response.");
        }
        if (!isInteger(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_BCFert")))) {
         val_intake.push("ERROR:  Usage of birth control, progesterone or fertility drugs- missing response.");
        }
        if (getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_BCFert"))==1 && 
          (document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_BCFertName").value==undefined || document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_BCFertName").value=="")) {
         val_intake.push("ERROR:  Usage of birth control, progesterone or fertility drugs- missing drug name response.");
        }
        if (getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_BCFert"))!=1 && 
          !(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_BCFertName").value==undefined || document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_BCFertName").value=="")) {
         val_intake.push("ERROR:  Birth control, progesterone or fertility missing drug code response lists name, but usage question indicates no usage.");
        }
    }
    if (val_intake.length>0) {
      document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/AutoStatus").value="0";
      var vimage = document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/AutoStatus_img");
      vimage.src = vimage.src.replace("cg.gif","cr.gif");
      updateValidationList("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/AutoList",val_intake);
          		//document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/AutoList").value=val_intake.toString();
    } else {
            document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/AutoStatus").value="1";
            var vimage = document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/AutoStatus_img");
            vimage.src = vimage.src.replace("cr.gif","cg.gif");
            updateValidationList("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/AutoList","");
          		//document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Validation/AutoList").value=" ";
    }
    	//alert("INTAKE FORM VALIDATION RESULT:  " + val_intake);
}

/////////////////////////////////////////
// INCLUSION-EXCLUSION FORM VALIDATION //
/////////////////////////////////////////
function validateInclExcl() {
	// Reset validation field
	val_inclexcl = [];
	// 1)  Check that all inclusion criteria are met.
var incl_crt = [ "Incl_Age","Incl_Consent" ];
var incl_sum = 0;
var incl_nma = [];
for (var i=0;i<incl_crt.length;i++) {
  if (getCheckboxValue01(getDocElementsByName("visit:UMinnLS1BVisitData/LSInclExcl/" + incl_crt[i]))==0) {
   incl_sum+=1;
   incl_nma.push(incl_crt[i]);
 }
}
if (incl_sum>0) {
  val_inclexcl.push("WARNING:  Not all inclusion criteria are met (" + incl_nma + ")"); 
}
	// 2)  Verify that no exclusion criteria are met.
var excl_crt = [ "Excl_HospPSNC","Excl_ADHD","Excl_Genetic","Excl_MSCP","Excl_Diabetes_0815","Excl_Diabetes_2575","Excl_Premat","Excl_Head","Excl_Loc30","Excl_Amn24","Excl_Ment24","Excl_TBI","Excl_3Conc","Excl_Seizure","Excl_Tumor","Excl_Cancer","Excl_Steroids_2575","Excl_HearingLoss_2575","Excl_HospSAHH","Excl_MacularD_2575","Excl_Trtmt","Excl_Dialysis","Excl_Thyroid","Excl_Preg_1475","Excl_Metal","Excl_Phobia","Excl_MigraineMeds","Excl_RecMigraine","Excl_BP","Excl_ImmuneMeds","Excl_MMSE_2575","Excl_HeadSize","Excl_Weight" ];
var excl_sum = 0;
var excl_nma = [];
for (var i=0;i<excl_crt.length;i++) {
  if (getCheckboxValue01(getDocElementsByName("visit:UMinnLS1BVisitData/LSInclExcl/" + excl_crt[i]))==1) {
   excl_sum+=1;
   excl_nma.push(excl_crt[i]);
 }
}
if (excl_sum>0) {
  val_inclexcl.push("WARNING:  Exclusion criteria have been checked - Subject should not be included in project (" + excl_nma + ")"); 
}
	// 3)  If Head Injury exclusion selected, make sure type of injury given.  If not selected, make sure no head injury types have been selected.
var headi_crt = [ "Excl_Loc30","Excl_Amn24","Excl_Ment24","Excl_TBI","Excl_3Conc" ];
var headi_sum = 0;
var headi_nma = [];
var headi_excl = getCheckboxValue01(getDocElementsByName("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Head"));
for (var i=0;i<headi_crt.length;i++) {
  if (getCheckboxValue01(getDocElementsByName("visit:UMinnLS1BVisitData/LSInclExcl/" + headi_crt[i]))==1) {
   headi_sum+=1;
 }
}
if (headi_excl==1 && headi_sum==0) {
  val_inclexcl.push("ERROR:  Head injury type has been selected, but head injury exclusion has not been checked");
} else if (headi_excl==0 && headi_sum==1) {
  val_inclexcl.push("ERROR:  Head injury types have been checked, but the head injury exclusion box has not been checked");
}
var preg_ele = document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Preg_Result");
if (getCheckboxValue01(getDocElementsByName("visit:UMinnLS1BVisitData/LSInclExcl/Excl_Preg_1475"))!=1 && preg_ele.value=="1") {
  val_inclexcl.push("ERROR:  Pregnancy result is indicated as positive, but the pregnancy exclusion criteria is not checked.");
}
var ii_age = toFloat(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Age").value);
if (!isNaN(ii_age) && ii_age>=25) {
    var mmse_val = toInteger(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/MMSE_Score").value);
    if (getCheckboxValue01(getDocElementsByName("visit:UMinnLS1BVisitData/LSInclExcl/Excl_MMSE_1475"))!=1 && mmse_val<=25) {
      val_inclexcl.push("ERROR:  The subject's MMSE score is reported as <= 25, but the MMSE exclusion criteria is not checked.");
    }
}

if (val_inclexcl.length>0) {
  document.getElementById("visit:UMinnLS1BVisitData/LSInclExcl/Validation/AutoStatus").value="0";
  var vimage = document.getElementById("visit:UMinnLS1BVisitData/LSInclExcl/Validation/AutoStatus_img");
  vimage.src = vimage.src.replace("cg.gif","cr.gif");
  updateValidationList("visit:UMinnLS1BVisitData/LSInclExcl/Validation/AutoList",val_inclexcl);
      		//document.getElementById("visit:UMinnLS1BVisitData/LSInclExcl/Validation/AutoList").value=val_inclexcl.toString();
       } else {
        document.getElementById("visit:UMinnLS1BVisitData/LSInclExcl/Validation/AutoStatus").value="1";
        var vimage = document.getElementById("visit:UMinnLS1BVisitData/LSInclExcl/Validation/AutoStatus_img");
        vimage.src = vimage.src.replace("cr.gif","cg.gif");
        updateValidationList("visit:UMinnLS1BVisitData/LSInclExcl/Validation/AutoList","");
      		//document.getElementById("visit:UMinnLS1BVisitData/LSInclExcl/Validation/AutoList").value=" ";
       }

	//alert("INCLUSION/EXCLUSION VALIDATION RESULT:  " + val_inclexcl);
}

function cbRespondClick(cb_ele) {
 hidden_ele=document.getElementById(cb_ele.id.substr(0,cb_ele.id.lastIndexOf("_cb")));
 if (cb_ele.checked) {
  hidden_ele.value="1";
} else {
  hidden_ele.value="0";
}
}

function isFemale() {
    var genderEl = getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Gender")
    if (getRadioValue(genderEl)=="F") {
        return true;
    }
    return false;
} 
function isMale() {
    var genderEl = getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Gender")
    if (getRadioValue(genderEl)=="M") {
        return true;
    }
    return false;
} 

//
// Display Menstruation Information based on Gender //
//
function updateGenderDisplay(eles) {
    for (var e=0;e<eles.length;e++) {
		if (genderDisplayMod(eles[e])) {
			break;
		}
	}
}
function genderDisplayMod(ele) {
    if (parseInt(getCheckboxValue01(getDocElementsByName("DisplayAllBox")))==1) {
		genderDisplayShowAll();
        return;
    }
    displayMenst(ele);
    var rtnVal = false;
    if (ele.checked==true && ele.value=="M") {
		$('.showMale').css({display: 'inline'});
		$('.showFemale').css({display: 'none'});
		$('.showFemale.showMale').css({display: 'none'});
		$('.hideMale').css({display: 'none'});
		$('.hideFemale').css({display: 'inline'});
		rtnVal = true;
		var preg_ele = document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Preg_Result");
		if (preg_ele.value == undefined || preg_ele.value=="") {
    			preg_ele.value="9";
		}
    } else if (ele.checked==true && ele.value=="F") {
		$('.showMale').css({display: 'none'});
		$('.showFemale').css({display: 'inline'});
		$('.showFemale.showMale').css({display: 'none'});
		$('.hideMale').css({display: 'inline'});
		$('.hideFemale').css({display: 'none'});
		rtnVal = true;
		var preg_ele = document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Preg_Result");
    	var ii_age = toFloat(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Age").value);
    	if (!isNaN(ii_age) && (ii_age>=14 && ii_age<=15) && preg_ele.value != undefined && preg_ele.value=="9") {
    		preg_ele.value="";
		}
    } else {
        genderDisplayShowAll();
    }
    updateAllValidation();
    return rtnVal;
}
function genderDisplayShowAll() {
	$('.showMale').css({display: 'inline'});
	$('.showFemale').css({display: 'inline'});
	$('.showFemale.showMale').css({display: 'inline'});
	$('.hideMale').css({display: 'none'});
	$('.hideFemale').css({display: 'none'});
}
function displayMenst(ele) {
    if (!document.getElementById("IntakeForm_Menstrual")) return;
    if (ele.checked==true && ele.value=="M") {
        document.getElementById("IntakeForm_Menstrual").style.display="none";
    } else {
        document.getElementById("IntakeForm_Menstrual").style.display="block";
    }
}

function addMedications() {
		$("input[name='medButton']").hide();
		$("input[name='hideMedButton']").show();
		$("tr[name='MedRow']").show();
		$("tr[name='MedRowHeader']").show();
}

function menstNaDisplayMod(ele) {
    if (parseInt(getCheckboxValue01(getDocElementsByName("DisplayAllBox")))==1) {
		ageDisplayShowAll();
        return;
    }
    if (parseInt(getCheckboxValue01(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_NA")))==1) {
		$('.showNotNA').css({display: 'none'});
    } else {
		$('.showNotNA').css({display: 'inline'});
    }
    updateAllValidation();
}

function ageDisplayMod(ele) {
    if (parseInt(getCheckboxValue01(getDocElementsByName("DisplayAllBox")))==1) {
		ageDisplayShowAll();
        return;
    }
    var age = parseInt(ele.value);
    if (age == NaN) {
		ageDisplayShowAll();
        return;
    }
	if (age>=8 && age<=9) {
		$('.show8to9').css({display: 'inline'});
		$('option.show8to9').css({display: 'block'});
		$('.show14to15').css({display: 'none'});
		$('.show25to75').css({display: 'none'});
		$('option.show8to9').css({display: 'block'});
		$('.show8to9.show14to15').css({display: 'inline'});
		$('option.show8to9.show14to15').css({display: 'block'});
		$('.show8to9.show14to15').css({display: 'inline'});
		$('option.show8to9.show14to15').css({display: 'block'});
		$('.hide8to9').css({display: 'none'});
		$('.hide14to15').css({display: 'inline'});
		$('.hide25to75').css({display: 'inline'});
		$('.hide8to9.hide14to15.hide25to75').css({display: 'none'});
		var preg_ele = document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Preg_Result");
		if (preg_ele.value == undefined || preg_ele.value=="") {
    			preg_ele.value="9";
		}
	} else if (age>=14 && age<=15) {
		$('.show8to9').css({display: 'none'});
		$('.show14to15').css({display: 'inline'});
		$('option.show14to15').css({display: 'block'});
		$('.show25to75').css({display: 'none'});
		$('.show8to9.show14to15').css({display: 'inline'});
		$('option.show8to9.show14to15').css({display: 'block'});
		$('.show14to15.show25to75').css({display: 'inline'});
		$('option.show14to15.show25to75').css({display: 'block'});
		$('.hide8to9').css({display: 'inline'});
		$('.hide14to15').css({display: 'none'});
		$('.hide25to75').css({display: 'inline'});
		$('.hide8to9.hide14to15.hide25to75').css({display: 'none'});
	} else if (age>=25 && age<=75) {
		$('.show8to9').css({display: 'none'});
		$('.show14to15').css({display: 'none'});
		$('.show25to75').css({display: 'inline'});
		$('option.show25to75').css({display: 'block'});
		$('.show14to15.show25to75').css({display: 'inline'});
		$('option.show14to15.show25to75').css({display: 'block'});
		$('.hide8to9').css({display: 'inline'});
		$('.hide14to15').css({display: 'inline'});
		$('.hide25to75').css({display: 'none'});
		$('.hide8to9.hide14to15.hide25to75').css({display: 'none'});
		var preg_ele = document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Preg_Result");
		if (preg_ele.value == undefined || preg_ele.value=="") {
    			preg_ele.value="9";
		}
        clearRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_NA"));
        menstNaDisplayMod(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_NA"));
	} else {
		ageDisplayShowAll();
    }
    updateAllValidation();
}

function ageDisplayShowAll(ele) {
	$('.show8to9').css({display: 'inline'});
	$('.show14to15').css({display: 'inline'});
	$('.show25to75').css({display: 'inline'});
	$('option.show8to9').css({display: 'block'});
	$('option.show14to15').css({display: 'block'});
	$('option.show25to75').css({display: 'block'});
	$('.hide8to9').css({display: 'none'});
	$('.hide14to15').css({display: 'none'});
	$('.hide25to75').css({display: 'none'});
}

function toggleDisplayAll() {
    if (parseInt(getCheckboxValue01(getDocElementsByName("DisplayAllBox")))==1) {
        ageDisplayShowAll();
        genderDisplayShowAll();
        document.getElementById("IntakeForm_Menstrual").style.display="block";
    } else { 
        updateGenderDisplay(document.getElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Gender"));
        ageDisplayMod(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Age"));
    }
}

var genderEl = getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Gender")
document.getElementById("IntakeForm_Menstrual").style.display="block";
for (var i=0;i<genderEl.length;i++) {
	if (genderEl[i].checked==true && genderEl[i].value=="M") {
    document.getElementById("IntakeForm_Menstrual").style.display="none";
  }
}

//
// Disable fields based on Menstruation regularity
//
function menstRegDisplay(ele) {
	// Do nothing for now
}

//
// Disable fields based on Menstruation regularity
//
function menstBCFDisplay(ele) {
	// Do nothing for now
}

function bool2int(val) {
	return (val) ? 1 : 0;
}

function computeHandednessScore() {
	var handednessScore = parseInt(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Writing"))) +
                          parseInt(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Hammer"))) +
                          parseInt(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Throw"))) +
                          parseInt(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Toothbrush"))) +
                          parseInt(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Point"))) +
                          parseInt(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Spoon"))) +
                          parseInt(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Scissors"))) +
                          parseInt(getRadioValue(getDocElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Drink"))) 
    ;
	document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Score").value = (isNaN(handednessScore)) ? "" : handednessScore;
	if (!isNaN(handednessScore)) {
		var rightHandA = document.getElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_RightHanded");
		for(var i = 0; i < rightHandA.length; i++) {
			rightHandA[i].checked = false;
			rightHandA[i].disabled = true;
			if ((rightHandA[i].value == 0 && handednessScore<7) || (rightHandA[i].value == 1 && handednessScore>=7)) {
				rightHandA[i].checked = true;
				rightHandA[i].disabled = false;
			}
		}		
	}
}
</script>

<script type="text/javascript">

addLoadEvent(function() {
    // Workaround for Firefox display issue
    hideFormValidationImages();
    // Workaround for Firefox display issue
    document.getElementById("v_container").style.display="block";
    /*needs refactored*/
    ageDisplayMod(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Age"));
    menstNaDisplayMod(document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Menst_NA"));
    updateGenderDisplay(document.getElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Gender"));
    hideMedicationRows();
    #if (!$disableValues)
    if (document.getElementById("visit:UMinnLS1BVisitData/label").value==undefined || document.getElementById("visit:UMinnLS1BVisitData/label").value=="") {
        //var regex = /^LS\d\d\d\d*$/;
        //if (regex.test("$part.getLabel()")) {
            document.getElementById("visit:UMinnLS1BVisitData/label").value = "$part.getLabel()" + "_V1_Intake";
        //} 
    }
    #end
	document.getElementById("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_Score").readOnly = true;
	var rightHandA = document.getElementsByName("visit:UMinnLS1BVisitData/LSIntakeForm/Hand_RightHanded");
	for(var i = 0; i < rightHandA.length; i++) {
		if (!rightHandA[i].checked) {
			rightHandA[i].disabled = true;
		}
	}		
});

function hideMedicationRows() {
    #if (!$disableValues)
	$("input[name='medButton']").show();
	$("input[name='hideMedButton']").hide();
    #end
	 $("tr[name='MedRowHeader']").hide();
     $("input[id*='visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed']").each(function(i){
        $(this).closest($("tr")).hide();
     });
     $("input[id*='visit:UMinnLS1BVisitData/LSIntakeForm/CurrMed']").each(function(i){
        if (this.value!=undefined && this.value.trim().length>0) {
        	$(this).closest($("tr")).show();
		$("tr[name='MedRowHeader']").show();
        } 
     });
}

#if (!$disableValues)

/* 
 * FormChanges(string FormID | DOMelement FormNode)
 * Returns an array of changed form elements.
 * An empty array indicates no changes have been made.
 * NULL indicates that the form does not exist.
 *
 * By Craig Buckler,		http://twitter.com/craigbuckler
 * of OptimalWorks.net		http://optimalworks.net/
 * for SitePoint.com		http://sitepoint.com/
 * 
 * Refer to http://blogs.sitepoint.com/javascript-form-change-checker/
 *
 * This code can be used without restriction. 
 */
 function FormChanges(form) {

	// get form
	if (typeof form == "string") form = document.getElementById(form);
	if (!form || !form.nodeName || form.nodeName.toLowerCase() != "form") return null;
	
	// find changed elements
	var changed = [], n, c, def, o, ol, opt;
	for (var e = 0, el = form.elements.length; e < el; e++) {
		n = form.elements[e];
		c = false;
		
		switch (n.nodeName.toLowerCase()) {

			// select boxes
			case "select":
      def = 0;
      for (o = 0, ol = n.options.length; o < ol; o++) {
       opt = n.options[o];
       c = c || (opt.selected != opt.defaultSelected);
       if (opt.defaultSelected) def = o;
     }
     if (c && !n.multiple) c = (def != n.selectedIndex);
     break;

			// input / textarea
			case "textarea":
			case "input":

      switch (n.type.toLowerCase()) {
       case "checkbox":
       case "radio":
						// checkbox / radio
						c = (n.checked != n.defaultChecked);
						break;
           default:
						// standard values
						c = (n.value != n.defaultValue);
						break;				
          }
          break;
        }

        if (c) changed.push(n);
      }

      return changed;

    }

    function CheckFormChanges(form) {
     var changeArr = FormChanges(form);
	// Ignore changes to yesterdayDate
	for (var i=changeArr.length-1;i>=0;i--) {
		if (changeArr[i].attributes["name"].value.indexOf("yesterdayDate.")==0) {
			changeArr.splice(i,1);
		} 
	}
	return changeArr;
}

function closeFunc() {
	if (!isVisitFormSaved && CheckFormChanges(document.getElementById("form1")).length>0) {
		return "WARNING:  It appears changes have been made to this form that have not been saved.";
	}
}

window.onbeforeunload = closeFunc;

#end

</script>

<script>outOfRangeWarning();</script>

